// ==============================
// Header
// ==============================

.header {
  @include clearfix;
  padding: 40px $header-padding;
  @import 'src/css/_partial/_header/logo';
  @import 'src/css/_partial/_header/menu';
  position: relative;

  .search-form {
    right: 45px;
    bottom: 0;
  }
}


@include max-screen() {
  .header {
    padding: 50px 0 0;
    text-align: center;
  }
}
